<nav class="navbar">
    <div class="nav-wrapper">
        <img src="/public/images/logo.PNG" class="brand-img" alt="">
        <input type="text" class="search-box" placeholder="search">
        <div class="nav-items">
            <img src="/public/images/home.PNG" class="icon" alt="">
            <img src="/public/images/messenger.PNG" class="icon" alt="">
            <img src="/public/images/add.PNG" class="icon" alt="">
            <img src="/public/images/explore.PNG" class="icon" alt="">
            <img src="/public/images/like.PNG" class="icon" alt="">
            <div class="icon user-profile"></div>
        </div>
    </div>
</nav>