<div class="profile-card">
    <div class="profile-pic">
        <img src="/public/images/cover 13.png" alt="">
    </div>
    <div>
        <p class="username">modern_web_channel</p>
        <p class="sub-text">followed bu user</p>
    </div>
    <button class="action-btn">follow</button>
</div>