
            <div class="status-wrapper">
                <% users.forEach(user => { %>
                    <div class="status-card">
                        <div class="profile-pic"><img src="<%=user.avatar%>" alt=""></div>
                        <p class="username"><%=user.username%></p>
                    </div>
                <% }) %>
            </div>